<%- include('partials/header') %>

<main>
    <h1>Bienvenue au Port de Plaisance</h1>
    <p>Gérez les catways et réservations de manière simple et rapide.</p>
</main>

<%- include('partials/footer') %>